@import './base.scss';

.NavBar {

    height: $header-height;
    padding: ($header-height / 5) 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    background: white;

    i {
        font-size: 34px;
    }

    span {

        display: flex;
        align-items: center;

        p {
            padding: 0px;
            margin: 0px;
            font-weight: 900;
            font-size: 26px;
        }

        img {
            width: 50px;
        }
    }

}