@import "./base.scss";

$padding: 14px;

.PetCardList {
  display: grid;
  grid-gap: $padding;
  padding: $padding;
  align-content: flex-start;
}

@media screen and (max-width: 800px) {
  .PetCardList {
    position: absolute;
    top: 65%;
    height: 50%;
    background: linear-gradient(179.81deg, rgba(255, 255, 255, 0) 0.2%, #FFFFFF 50%);
  }
  .PetCard:last-child {
    margin-bottom: 14px;
  }
  .PetPigeonMap {
    position: absolute;
    bottom: 14%;
  }
}

@media screen and (min-width: 800px) {
  .PetCardList {
    position: absolute;
    top: $header-height + ($header-height / 5) + $padding;
    right: 1px;
    width: 50%;
    height: calc(100vh - (#{$header-height}*2));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.13%);
    align-content: end;
  }
  .PetPigeonMap {
    position: absolute;
    right: 25%;
  }
}
