@import './base.scss';

.PetForm {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.PetForm .map {
    width: 45%;
    height: calc(100vh - #{$header-height});
}

.PetForm form {

    display: flex;
    flex-direction: column;
    padding: 0px 22px;

    p {
        margin: 0px;
        font-weight: bold;
        color: #9e9e9e;
    }

    input, select, textarea {
        font-size: 23px;
        font-weight: bold;
        font-family: Poppins;
        background: #F2F2F2;
        border-radius: 5px;
        border: none;
        padding: 4px 10px;
        margin-bottom: 22px;
    }

    .animalSelector {
        display: flex;
        width: inherit;
        justify-content: space-evenly;
        padding: 0px 22px 22px 22px;

        span {
            border: 2px solid #CACACA;
            border-radius: 5px;
            text-align: center;
            color: #CACACA;
            padding: 12px;
            width: 13%;

            h1 {
                margin: 0px;
                font-size: 16px;
            }
        }

        span.active {
            border: 2px solid $secundary;
            border-radius: 5px;
            box-shadow: none !important;
            color: black;
        }
    }
}

@media screen and (max-width: 800px) {
    .PetForm {
        flex-direction: column-reverse;
    }

    .PetForm form {
        padding-bottom: 20px;
    }

    .PetForm .map {
        width: 100%;
        height: 60vw;
    }
  }
  
  @media screen and (min-width: 800px) {
    .PetForm {

    }

  }