@import './base.scss';

$markerSize: 80px;
$padding: 12px;

.PetPigeonMap {
    width: 100%;
    height: calc(100vh - #{$header-height} - 24px);
}

.marker {
    @include shadowRadius(1000px);
    //$markerSize: ($width / 8) + 10px;
    width: $markerSize;
    height: $markerSize;
    top: -$markerSize / 2;
    left: -$markerSize / 2;
}

.marker img{
    @include shadowRadius(1000px);
    width: $markerSize;
    height: $markerSize;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.active {
    border: 2px solid #00A3FF;
    box-shadow: 0px 0px 13px #00A3FF;
}