@import './colors.scss';
@import './mixins.scss';
@import './fonts.scss';

$radius: 10px;
$header-height: 60px;

body { 
    margin: 0px;
    font-family: 'Poppins';
}

.success {
    background-color: $secundary2 !important;
    color: white;
    font-weight: bold;
}


