$bkcolor: #FFFFFF; //#141414;
$bkActive: #CAEBFD;
$secundary: #00A3FF;
$secundary2: #23A0E4;
$secundary2Active: #1f74a1;
$imgGradientFilterBlack: linear-gradient(180deg, #00000000 0%, #00000063 100%);